{% extends 'base.html' %}

{% block content %}
    <div class="container pt-2">
        <div class="row">
            {% for post in posts %}
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="card mb-2">
                        <div class="card-header">
                            <span>PK: {{ post.pk }}</span>
                            <span class="float-right">{{ post.author.username }} ({{ post.author.pk }})</span>
                        </div>
                        <div>
                            {% for post_image in post.postimage_set.all %}
                                <img src="{{ post_image.image.url }}" alt="" style="width: 100%;">
                            {% endfor %}
                        </div>
                        <div class="card-body">
                            <div class="btn-container">
                                <div class="d-inline-block">
                                    <form action="{% url 'posts:post-like' pk=post.pk %}" method="POST" class="d-inline-block">
                                        {% csrf_token %}
                                        {% if post in user.like_post_set.all %}
                                            <button class="btn btn-sm btn-primary" type="submit">Liked
                                                ({{ post.like_users.count }})
                                            </button>
                                        {% else %}
                                            <button class="btn btn-sm btn-outline-primary" type="submit">Like
                                                ({{ post.like_users.count }})
                                            </button>
                                        {% endif %}
                                    </form>
                                    <button class="btn btn-sm btn-success">Comments ({{ post.postcomment_set.count }})</button>
                                </div>
                                <small class="float-right">{{ post.created }}</small>
                            </div>
                            <div class="content-container">
                                {{ post.content_html|safe }}
                            </div>
                            <div class="comments-container">
                                <ul class="list-unstyled">
                                    {% for comment in post.postcomment_set.all %}
                                        <li>
                                            <b>{{ comment.author.name }} ({{ comment.author.pk }})</b>
                                            <span>{{ comment.content }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div>
                                    <!-- Comment를 작성하는 Form -->
                                    <form action="{% url 'posts:comment-create' post_pk=post.pk %}" method="POST">
                                        {% csrf_token %}
                                        {% for field in comment_form %}
                                            {{ field }}
                                        {% endfor %}
                                        <button type="submit" class="btn btn-primary btn-sm btn-block mt-1">작성</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
